{%- liquid
  assign se_stts = section.settings
  assign sett_title = se_stts.title
  assign style_title = se_stts.style_title
  assign show_line = se_stts.show_line -%}
{%- if sett_title != blank -%}
  <!-- Title -->
  {%- if style_title == 'title_bg' -%}
    <div class="flex fl_center al_center {{section_title}} des_title_bg">
      <div class="container pr flex fl_center al_center">
        <div class="wrap_title">
          <h3 class="section-title tc pr flex fl_center al_center fs__24 title_bg">
            <span class="mr__10 ml__10">{{sett_title}}</span>
          </h3>
          <span class="section-subtitle db tc{% if se_stts.sub_font == '2' %} sub-title{% endif %}">{{se_stts.sub_title}}</span>
        </div>
        {%- if url -%}
        <div class="view_all pa r__0 b__0">
          <a href="{{url|default:'/'}}">
            {{se_stts.btn_title}}
          </a>
        </div>
        {%- endif -%}
      </div>
    </div>
  {%- elsif style_title != 'title_10' -%}
    <div class="wrap_title {{section_title}} des_{{style_title}}">
      <h3 class="section-title tc pr flex fl_center al_center fs__24 {{style_title}}">
        <span class="mr__10 ml__10">{{sett_title}}</span>
      </h3>
      <span class="dn tt_divider">
        <span></span>
        <i class="dn clpr{{section.settings.show_clpr}} {{style_title |split:'+' | last }} la-{{section.settings.ic_tt}}"></i>
        <span></span>
      </span>
      <span class="section-subtitle db tc{% if section.settings.sub_font == '2' %} sub-title{% endif %}">{{section.settings.sub_title}}</span>
    </div>
  {%- else -%}
    <div class="row al_center fl_center title_10 {{section_title}}">
      <div class="col-auto col-md">
        <h3 class="dib tc section-title fs__24">{{sett_title}}</h3>
      </div>
      <div class="col-auto">
        <a href="{{url|default:'/'}}">{{section.settings.btn_title}}</a>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}

{%- style -%}
{%- if style_title == 'title_bg' -%}
	.nt_se_{{ section.id }} .des_title_bg,
  .se_title_{{ section.id }} .des_title_bg {
    height: {{ se_stts.max_height_title }}px;
		max-height: {{ se_stts.max_height_title }}px;
		background-color: {{ se_stts.bg_color_title }};
		color: {{ se_stts.color_title }};
	}

	.nt_se_{{ section.id }} .section-title,
  .se_title_{{ section.id }} .section-title {
    line-height: normal;
    font-size: {{ se_stts.fs_title }}px;
		color: {{ se_stts.color_title }};
	}

	.nt_se_{{ section.id }} .section-subtitle,
  .se_title_{{ section.id }} .section-subtitle {
    line-height: 1;
		color: {{ se_stts.color_title }};
	}

  .view_all,
	.nt_se_{{ section.id }} .view_all > a,
  .se_title_{{ section.id }} .view_all > a {
    line-height: 1;
		text-decoration: underline;
    font-size: {{ se_stts.fs_view }}px;
		color: {{ se_stts.color_title }};
	}

	@media (max-width:767px) {
    .nt_se_{{ section.id }} .des_title_bg,
    .se_title_{{ section.id }} .des_title_bg {
      height: {{ se_stts.max_height_title }}px;
      max-height: {{ se_stts.max_height_title_m }}px;
      padding: 0 1.5rem;
    }

    .nt_se_{{ section.id }} .section-title,
    .se_title_{{ section.id }} .section-title {
      font-size: {{ se_stts.fs_title_m }}rem;
    }

    .nt_se_{{ section.id }} .view_all > a,
    .se_title_{{ section.id }} .view_all > a {
      font-size: {{ se_stts.fs_view_m }}rem;
    }
  }

	{%- if show_line -%}
    .nt_se_{{ section.id }} .title_bg:after,
    .nt_se_{{ section.id }} .title_bg:before,
    .se_title_{{ section.id }} .title_bg:after,
    .se_title_{{ section.id }} .title_bg:before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      background: {{ se_stts.color_title }};
    }
    
    @media (min-width: 768px) {
      .nt_se_{{ section.id }} .title_bg:after,
      .nt_se_{{ section.id }} .title_bg:before,
      .se_title_{{ section.id }} .title_bg:after,
      .se_title_{{ section.id }} .title_bg:before  {
        width: 60px;
      }
    }
  {%- endif -%}
{%- endif -%}
{%- endstyle -%}