{%- liquid
  assign icon = block.settings.icon
  if icon != blank
    assign arr_icon = icon | split:','
    assign icon_class1 = arr_icon[1] | default:'las'
  endif  -%}
{%- if icon != blank %}
<i class="{{arr_icon[1] | default:'las'}} la-{{arr_icon[0]}}"></i>
{% endif -%}

{%- if block.settings.label_hallo_h -%}<img class="mr__5" style="width: 3em; margin-top: -20px;" src="https://cdn.shopify.com/s/files/1/0637/3346/5308/files/hot_header_label.png?v=1667179438" />{%- endif -%}
{%- if block.settings.label_hallo_n -%}<img class="mr__5" style="width: 3em; margin-top: -20px;" src="https://cdn.shopify.com/s/files/1/0637/3346/5308/files/new_header_label.png?v=1667179438" />{%- endif -%}
{%- if block.settings.label_hallo -%}<img class="mr__5" style="width: 3em; margin-top: -20px;" src="https://cdn.shopify.com/s/files/1/0637/3346/5308/files/hot_header_label.png?v=1667179438" />{%- endif -%}
{{block.settings.title }}
{% if block.settings.lb != blank %}
<span class="lbc_nav" style="background-color: {{block.settings.lb_cl|default:'#01bad4'}}">{{block.settings.lb}}</span>
{% endif -%}
{%- if block.settings.label_n -%}
<span class="lbn_nav"><span class="pa pa-center">NEW</span></span>
{%- endif -%}

{%- if block.settings.label_h -%}
<span class="lbh_nav"><span class="pa pa-center">HOT</span></span>
{%- endif -%}